<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- УБРАТЬ package отсюда -->

    <!-- Разрешения для тестов -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- Можно добавить тестовые активности если нужно -->
        <!-- <activity android:name=".TestActivity" /> -->
    </application>
</manifest>